Repository oamg/leapp-repository, pull requests merged in 2025-05, with the labels that each got.

#1373 DOCS: add missing envar LEAPP_OVL_IMG_FS_EXT4
  docs/source/configuring-ipu/envars.md
Labels: documentation, docs

#1362 Add handling of shorten PCI ID and lowercases
  repos/system_upgrade/common/actors/loaddevicedriverdeprecationdata/libraries/deviceanddriverdeprecationdataload.py
  repos/system_upgrade/common/actors/pcidevicesscanner/libraries/pcidevicesscanner.py
  repos/system_upgrade/common/actors/pcidevicesscanner/tests/test_pcidevicesscanner.py
Labels: bug

#1376 Prevent device list from containing incorrent content
  repos/system_upgrade/common/actors/pcidevicesscanner/libraries/pcidevicesscanner.py
  repos/system_upgrade/common/actors/pcidevicesscanner/tests/test_pcidevicesscanner.py
Labels: bug, changelog-checked

#1377 Deprecate is_rhel_alt from share libraries
  docs/source/libraries-and-api/deprecations-list.md
  repos/system_upgrade/common/libraries/config/version.py
Labels: documentation, deprecation
